* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: auto;
    background: #e7e7e7;
    text-align: center;
}

h1,
h3 {
    font-family: "Russo One", sans-serif;
    color: #ffffff;
    filter: drop-shadow(3px 5px 4px black);
}

h3 {
    font-size: 1.5em;
    letter-spacing: 3px;
    margin-bottom: 3vh;
}

p,
ul {
    font-family: "Pacifico", cursive;
}

a {
    color: #006faf;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 15vh;
    padding: 1em 1em;
    background: #1de05e;
}

#movie-div,
#quote-div,
#tribute-info,
#img-div {
    margin: 0.8em 1em;
}

header #title {
    font-size: 2em;
    letter-spacing: 0.2em;
}

header #subtitle {
    font-size: 1.3em;
    color: #494949;
    padding-top: 0.7em;
}

#img-div {
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 1.9em 0px;
}

#image {
    width: 100%;
    border-radius: 15px;
    display: block;
    margin: auto;
}

#img-caption {
    font-size: 0.8em;
    color: #555454;
}

#tribute-info {
    background: #1de05e;
    padding: 1em 1.2em;
    border-radius: 10px;
}

#timeline-ul {
    margin: 1.7em;
    text-align: start;
}

#timeline-ul li {
    font-size: 0.8em;
    color: #292929;
    word-spacing: 2px;
    line-height: 2em;
}

#timeline-ul li:hover {
    font-size: 1em;
    cursor: pointer;
    color: #ffffff;
    transition: font-size 0.3s ease;
}

#movie-wrapper {
    position: relative;
    width: 100%;
    /* height: 0; */
    padding-bottom: 56.25%;
}

#embed_movie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#quote-div p {
    font-size: 1.3em;
    color: #494949;
}

#movie-div h3,
#quote-div h3 {
    color: #1de05e;
}

#more-reading {
    margin-top: 4em;
    padding: 1.2em;
    background: #1de05e;
}

#more-reading p {
    font-size: 1.2em;
    color: #ffffff;
}

#heart {
    width: 1.2em;
    height: 1.2em;
}

@media only screen and (min-width: 426px) {
    h3 {
        font-size: 2.5em;
        margin-bottom: 0.2em;
        margin-top: 0.8em;
    }

    header {
        padding: 1em 5em;
        min-height: 10vh;
    }

    #movie-div,
    #quote-div,
    #tribute-info,
    #img-div {
        margin: 0.8em 5em;
    }

    header #title {
        font-size: 3.1em;
    }

    header #subtitle {
        font-size: 1.6em;
        padding-top: 0;
    }

    #img-caption {
        font-size: 1em;
    }

    #tribute-info {
        padding: 1em 1.8em;
    }

    #timeline-ul li {
        font-size: 1em;
    }

    #timeline-ul li:hover {
        font-size: 1.3em;
    }

    #quote-div p {
        font-size: 1.7em;
    }

    #more-reading {
        padding: 1em 2em;
    }

    #more-reading p {
        font-size: 1.3em;
    }

    #heart {
        width: 1.5em;
        height: 1.5em;
    }
}

@media only screen and (min-width: 769px) {
    header {
        padding: 2em 7em;
        font-size: 1.6vw;
    }

    h3 {
        font-size: 3.5vw;
        margin-top: 0.8em;
    }

    #movie-div,
    #quote-div,
    #tribute-info,
    #img-div {
        margin: 0.8em 7em;
    }

    header #title {
        font-size: 4vw;
    }


    #img-caption {
        font-size: 1.2em;
    }

    #quote-div p {
        font-size: 1.7em;
    }

    #tribute-info {
        padding: 1em 3em;
    }

    #timeline-ul li {
        font-size: 1.2em;
    }

    #timeline-ul li:hover {
        font-size: 1.5em;
    }

    #more-reading {
        padding: 1em 2em;
    }

    #more-reading p {
        font-size: 1.3em;
    }

    #heart {
        width: 1.5em;
        height: 1.5em;
    }
}